.logo {
	&--white {
		background-image: url(../../images/DOYOGA-logo.png);
		@include media-breakpoint-up(md){
			background-image: url(../../images/DOYOGA-logo@2x.png);
		}
	}
	&--primary {
		background-image: url(../../images/DOYOGA.png);
		@include media-breakpoint-up(md){
			background-image: url(../../images/DOYOGA@2x.png);
		}
	}
}


.scroll--style {
	&::-webkit-scrollbar {
		width: 0;
	}
	&::-webkit-scrollbar-track {
		background: tint-color($primary, 40%);
	}
	&::-webkit-scrollbar-thumb {
		border-radius: .25rem;
		background: $primary;
		&:hover {
			background: shade-color($primary, 40%);
		}
	}
}
