.logo {
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
		width: 6rem;
		height: 1.9375rem;
	&--primary {
		background-image: url('../images/DOYOGA-logo.png');
		@include media-breakpoint-up(md){
			background-image: url('../images/DOYOGA-logo@2x.png');
		}
	}
	&--white {
		background-image: url('../images/DOYOGA.png');
		@include media-breakpoint-up(md){
			background-image: url('../images/DOYOGA@2x.png');
		}
	}
}

.scroll--style {
	&::-webkit-scrollbar {
		// display: none;
		width: 0;
		height: 0;
	}
	&::-webkit-scrollbar-track {
		background: tint-color($primary, 40%);
	}
	&::-webkit-scrollbar-thumb {
		border-radius: .25rem;
		background: $primary;
		&:hover {
			background: shade-color($primary, 40%);
		}
	}
}

.hero {
	background-image: url('../images/photo-1612157777902-5382bc6e864b.jpeg');
	height: 36.375rem;
	@include media-breakpoint-up(md){
		height: 39.25rem;
	}
}

.ms-minus {
	@include media-breakpoint-up(lg){
		margin-left: -5.9375rem;
	}
}


.scroll {
	&--up {
		filter: drop-shadow(0 -10px 20px rgba($dark,0.25));
	}

	&--down {
		transform: translate3d(0, -100%, 0);
	}

}